/*====================================


Universal Styling


*====================================*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: 'among-us';
  src:url('../fonts/among-us.ttf'); format('truetype');
}

h1 {
  font-family: 'among-us', sans-serif;
  padding: 30px 0;
  font-weight: bold;
  font-size: 80px;
  color: white;
  text-align: center;
}

h2 {
  font-family: 'Amatic SC', sans-serif;
  padding: 20px 0;
  font-weight: bolder;
  font-size: 45px;
  text-align: center;
}

h3 {
  font-family: 'Amatic SC', sans-serif;
  font-size: 45px;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 20px 0;
  font-size: 25px;
  text-align: center;
  font-weight: 200;
}

ol {
  list-style-position: inside;
  text-align: center
}

.list {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  border: 4px solid gold;
  border-radius: 50px;
}

/*====================================


Header Styling


*====================================*/

header {
  padding: 40px 0;
  text-align: center;
  position: relative;
  width: 100%
}

header nav li {
    display: inline-block;
    padding: 0 40px;
}

header a {
    font-weight: bold;
    padding: 1px 25px;
    background-color: #e8d3eb;
    text-transform: uppercase;
    text-decoration: none;
    color: red;
    margin: 0 20px;
}

header nav a:hover {
  background-color: cyan;
}

/*====================================


Home Page


*====================================*/

body {
  background-image: url('../images/among-us.png');
}

main {
  background-color: white;
  opacity: 0.9;
  padding: 20px 80px;
  margin: 0 auto;
    width: 50%
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

img {
    margin: auto;
    width: 100%;
    display: block;
}

.home-img {
  float: right;
  margin: 0 50px 50px;
}

/*====================================


CSS Styling


*====================================*/

#first {
  color: red;
}

#second {
  color: green;
}

.ghost {
  position: absolute;
  width: 300px;
  top: 500px;
  left: -50px;
  animation-name: drive;
  animation-duration: 18s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.standout {
  font-size: 60px;
  color: red;
}

.crew {
  font-size: 60px;
  color:cyan;
}

.vent {
  width: 200px;
  float: right;
}

.report {
  position: fixed; top: 1%; left: 1%;
  width: 150px;
}

.press {
  position: fixed; top: 1%; left: 1%;
  width: 150px;
}

.top-section .hero {
  width: 550px;
  float: right;
  margin-top: 30px;
  margin-left: 40px;
}


@keyframes drive {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(2500px);
  }
}
