* {
  margin: 0;
  padding: 0;
  border: 0;
}

@font-face {
  font-family: 'among-us';
  src:url('../fonts/among-us.ttf'); format('truetype');
}

body {
  background-image: url('../images/among-us.png');
}

main {
  background-color: white;
  opacity: 0.9;
  padding: 20px 90px;
  margin: 0 auto;
    width: 55%
}

img {
    margin: auto;
    width: 100%;
    display: block;
}

h1 {
  font-family: 'among-us', sans-serif;
  font-weight: bold;
  font-size: 80px;
  color: white;
  text-align: center;
}

h2 {
  font-family: 'Amatic SC', sans-serif;
  font-weight: bolder;
  font-size: 45px;
  text-align: center;
}

h3 {
  font-family: 'Amatic SC', sans-serif;
  font-size: 45px;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
}

#first {
  color: red;
}

#second {
  color: green;
}
